<div class="col">
    <button type="button" class="btn btn-primary active" x-show="!edit" @click="editMode(true)">
        Edit
    </button>

    <div class="btn-group" x-show="edit">
        <button type="submit" class="btn btn-primary active">
            Save
        </button>
    
        <button type="button" class="btn btn-dark" x-show="Array.isArray(data)">
            New
        </button>

        <button type="button" class="btn btn-dark" x-show="Array.isArray(data) && data.length">
            Delete
        </button>

        <button type="button" class="btn btn-dark" @click="cancel">
            Cancel
        </button>
    </div>
</div>